/*************************************************************************************************************
************************************************ PAGE ACCUEIL ************************************************
**************************************************************************************************************/

#accueil {
    font-family: Arial, Helvetica, "Liberation Sans", "FreeSans", sans-serif;
    box-sizing: border-box;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30%;
    padding-top: 20%;
    font-weight: 800;
    background-image: url(../Images/back1desktop.jpg);
    background-size: 100% 100%;
}
#prenomAccueil {
    text-align: left;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
#nomAccueil {
    text-align: right;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
#accueil h4 {
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}
#nomPrenom {
    margin: 0 auto;
}
#retourAccueil {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#retourAccueil img {
    width: 80px;
    height: 80px;
}
/***************************************/
/************ MEDIA QUERIES ************/
/***************************************/
@media (max-width: 1200px) {
    #accueil {
        background-image: url(../Images/back1mobile.jpg);
    }
    #accueil h2 {
        font-size: 3.4em;
    }
    #accueil h4 {
        font-size: 2em;
    }
    #nomPrenom {
        width:90%;
        max-width: 430px;
    }
}
@media (min-width: 1200px) {
    #accueil h2 {
        font-size: 7em;
    }
    #accueil h4 {
        font-size: 5em;
        margin-top: 200px;
    }
    #nomPrenom {
        width: 900px;
    }
}
/*************************************************************************************************************
*********************************************** SECTION PROJET ***********************************************
**************************************************************************************************************/

.sectionProjet .container {
    max-width: 100%; 
}
.sectionProjet {
    font-family: Arial, Helvetica, "Liberation Sans", "FreeSans", sans-serif;
    box-sizing: border-box;
}
.sectionProjet h2 {
    text-align: center;
}
.sectionProjet .logoGit img {
    width: 60px;
    height: 60px;
    margin-left: 5px;
}
.sectionProjet .footerTexteProjet {
    display: flex;
    justify-content: space-between;
}
.carousel, .carouse-inner, img {
    max-height: 520px!important;

}

/***************************************/
/************ MEDIA QUERIES ************/
/***************************************/
@media (max-width: 1200px) {

    .sectionProjet {
        padding-top: 50px;
        padding-bottom: 100px;
        font-size: 1em;
    }
    .sectionProjet .texteProjet {
        padding-left: 10px;
        padding-right: 10px;
    }
    .sectionProjet h2 {
        text-align: center;
        margin-bottom: 50px;
        font-size: 2.5em;
        font-weight: 800;
    }
    .sectionProjet p, ul {
        margin-bottom: 30px;
    }
    .sectionProjet .texteProjet li {
        margin-left: 15px;
    }
    .sectionProjet .liTitre {
        margin-left: 0px;
    }
    .sectionProjet .dureeProjet {
        font-size: 0.8em;
        padding-top: 25px;
    }
    .sectionProjet .carousel {
        width: 95%;
        margin: 0 auto;
    }
    .sectionProjet .footerTexteProjet {
        margin-top: 50px;
        margin-bottom: 80px;
    }
    #retourAccueil {
        display: none;
    }
}

@media (min-width: 1200px) {
    .sectionProjet {
        box-sizing: border-box;
        height: 101vh;
        min-height: 700px;
        font-size: 1em;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .sectionProjet  .texteProjet {
        box-sizing: border-box;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80vh;
    }
    .sectionProjet h2 {
        margin-bottom: 50px;
        font-size: 3.5em;
        font-weight: 800;
    }
    .sectionProjet p, .sectionProjet ul {
        font-size: 1.2em;
    }
    .sectionProjet .texteProjet li {
        margin-left: 20px;
        margin-bottom: 5px;
    }
    .sectionProjet .liTitre { 
        margin-left: 0px;
    }
    .sectionProjet .dureeProjet {
        font-size: 1em;
        padding-top: 25px;
    }
    .sectionProjet .carousel {
        margin: 100px auto;
        width: 80%;
    }
}

/******************************************* SECTION BLACK *******************************************/

.projetBlack {
    background-color: black;
    color: white;
}

/************ MEDIA QUERIES ************/
@media (min-width: 1200px) {
    .projetBlack .texteProjet {
        padding-left: 100px;
    }
}


/******************************************* SECTION WHITE *******************************************/

.projetWhite {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/************ MEDIA QUERIES ************/
@media (max-width: 1200px) {
    .projetWhite .row {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
}
